<footer class="footer">
  <div class="footer__inner">
    <div class="copyright">
      <span>Content under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/ca/">CC BY-NC-SA 2.0 CA</a></span>
      <span>:: <a href="https://github.com/fluix-dev/ecoo-info">Source code</a> under <a href="https://opensource.org/licenses/MIT">MIT</a></span>
    </div>
  </div>

  <img src="/logos.png">
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{ if $.Site.Params.showLanguageSelector }}
  <script src="{{ "assets/languageSelector.js" | absURL }}"></script>
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
