<nav class="menu">
  <ul class="menu__inner menu__inner--desktop">
    <li><a href="{{ "/" | absURL }}">Home</a></li>
    <li><a href="{{ "rules.pdf" | absURL }}">Rules</a></li>
    <li><a href="{{ "https://register.ecoo.mcpt.ca" | absURL }}">Registration</a></li>
    <li><a href="{{ "https://judge.ecoo.mcpt.ca" | absURL }}">Judge</a></li>

    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
      <div class="spacer"></div>
      <ul class="language-selector">
        <ul class="language-selector-current">
            <li>{{ .Language.LanguageName }} ▾</li>
        </ul>
        <ul class="language-selector__more hidden">
          {{ range $.Site.Home.AllTranslations }}
          <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        </ul>
      </ul>
    {{ end }}
  </ul>

  <ul class="menu__inner menu__inner--mobile">
    <li><a href="{{ "/" | absURL }}">Home</a></li>
    <li><a href="{{ "rules.pdf" | absURL }}">Rules</a></li>
    <li><a href="{{ "https://register.ecoo.mcpt.ca" | absURL }}">Registration</a></li>
    <li><a href="{{ "https://judge.ecoo.mcpt.ca" | absURL }}">Judge</a></li>
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
      <hr />
      {{ range $.Site.Home.AllTranslations }}
        <li>
          <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
