{{ define "main" }}

<h1>Congratulations on the 2021 ECOO Programming Contest!</h1>
<p>
Congratulations to everyone who participated in the 2021 ECOO Programming Contest! This year we had 692 registered students, 473 of which competed in the contest. The top three students are as follows: <br><br>
1. <b>Zixiang Zhou</b> from <b>London Central Secondary School</b><br>
2. (Tie) <b>Edward Xiao</b> from <b>University of Toronto Schools</b><br>
2. (Tie) <b>Andrew Dong</b> from <b>Centennial Collegiate and Vocational Institute</b>
</p>

<h2>Results</h2>
<p>
  A complete scoreboard for the contest is available <a href="/leaderboard">here</a>.
  <br><br>
  Leaderboards for individual boards containing students' real names have been emailed to the appropriate contacts within them. Certificates of participation, certificates of distinction, and monetary prizes have been sent out.
</p>

<h2>Problems &amp; Data</h2>
<p>
  Problems in PDF format alongside data and any tools to run them are available <a href="/problems">here</a>.
  <br><br>
  The problems are also available on <a href="https://dmoj.ca/problems/?search=ecoo21">DMOJ</a> and <a href="https://mcpt.ca/problems/?search=ecoo21">MCPT</a> where you may create accounts and submit to the judges, receiving immediate feedback.
</p>

<h2>Contact</h2>
<p>
  For any comments, questions, or concerns, please email <a href="mailto:ecoo@mcpt.ca">ecoo@mcpt.ca</a>. You can also contact the ECOO-CS President, David Stermole (<a href="mailto:dfsatecoo@gmail.com">dfsatecoo@gmail.com</a>) or the Event Organizer, Valentina Krasteva (<a href="mailto:vkrasteva@ecoo.org">vkrasteva@ecoo.org</a>).
</p>

{{ end }}
