.container {
  margin: 0 auto;
  border-left: 1px solid hsla(0,0%,100%,.1);
}

.logo {
  font-size: 2em;
}

#vert-logo {
  position: absolute;
  top: 0;
  left: -140px;
  height: 100%;
  opacity: 0.5;
}

nav {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

ul {
  margin-top: 0;
}

.tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: default;
}

.member {
  display: flex;
}

.member img {
  max-width: 12rem;
  max-height: 12rem;
  border-radius: 15%;
  border: 2px solid white;
  margin: 1rem;
}

.post {
  padding: 0;
  margin: 0;
}

@media (max-width: 684px) {
  .logo {
    font-size: 1em;
  }

  .member {
    display: block;
  }

  .member img {
    margin: 0 auto;
  }
}

.copyright {
  margin: 0 auto;
}

footer img {
  margin: 0 auto;
  margin-top: 2rem;
  width: 30%;
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: white;
  }

  .container {
    border-left: 1px solid hsla(0,0%,0%,.1);
    border-right: 1px solid hsla(0,0%,0%,.1);
  }

  footer img, #vert-logo {
    filter: invert();
  }

  .member img {
    border: 2px solid black;
  }
}
