.container {
  margin: 0 auto;
  border-left: 1px solid hsla(0,0%,100%,.1);
}

.logo {
  font-size: 2em;
}

nav {
  font-weight: bold;
}

@media (max-width: 684px) {
  .logo {
    font-size: 1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: default;
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: white;
  }

  .container {
    border-left: 1px solid hsla(0,0%,0%,.1);
    border-right: 1px solid hsla(0,0%,0%,.1);
  }
}
